*.pyc
*~

.libs
.deps
*.orig

**/*.swp
**/*.bak
**/.project

**/.cproject
**/.idea

**/nbproject/

**/libltdl/

# libtool
**/Makefile.in
**/aclocal.m4
**/autom4te.cache/
**/config.*
**/configure
**/depcomp
**/install-sh
**/libtool
**/ltmain.sh
**/m4/
**/missing
**/stamp-h?
**/compile
.deps/
.dirstamp
.libs/
*.l[ao]
*.o
*.h.in

**/output/
**/__pycache__/
.ropeproject/

**/scratchpad.py

**/ipython-log.py

_build/

**/.nfs*

# Style Report Directory
/style-reports

# Package egg-info directory
/Learning_to_Learn.egg-info

# unison temp files
**/.unison*

# An ignored directory to put all files that are to be ignored
/ignored

# Mac OS X
**/.DS_Store

# root path config file
bin/path.conf

# Some files that are generated during testing
/*.png

tags
_static
