| | |
| --- | --- |
| Date | {{cur_date_}} |
| Username | {{username_}} |
| Description | {{description_}} |
| Optimizee name | {{optimizee_name_}} |
| Optimizee id | {{optimizee_id_}} |
| Optimizee Description: | |
| {{optimizee_description_}} |  |
| Optimizer name | {{optimizer_name_}} |
| Optimizer params: | | {% for key, value in optimizer_params_.items() %}
| --{{key}} | {{value}} | {% endfor %}
| Number of iterations | {{n_iteration_}} |
| Optima found | {{optima_found_}} |
| Actual optima | {{actual_optima_}} |
| runtime | {{runtime_}} |
| git commit id | {{git_commit_id}} |
